html
{
    background-color: hsl(0, 0%, 8%);
}

body
{
    @font-face 
        font-family: inter;
        src: url(/SOURCE/assets/fonts/Inter.ttf);
    
    font-family: 'inter', Arial, Helvetica, sans-serif;
}

.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    padding: 25px;
}

.foto
{
    display: block;
    margin: auto;
    width: 100px;
    border-radius: 100%;

}

h1
{
    color: hsl(0, 0%, 90%);
    text-align: center;
    margin-bottom: 5px;
}

.location
{
    color: hsl(0, 0%, 63%);
    text-align: center;
    font-weight: 700;
    margin-top: 0%;
}

.profissao
{
    color: grey;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px;
}

a
{
    display: block;
    text-align: center;
    background-color: hsl(0, 0%, 20%);
    text-decoration: none;
    color: hsl(0, 0%, 90%);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 12px;

}
